<form #form="ngForm" (ngSubmit)="form.valid && (product.id ? updateProduct() : addProduct())">
  <div class="block">
    <h1>Products</h1>
    <input class="nameText" type="text" name="questionText" maxlength="10" placeholder="Product name" [(ngModel)]="question.questionText" #questionText="ngModel" required>
    <button type="submit" class="btn btn-dark">
 
    </button>
  </div>
</form>

<div class="block">
  <table *ngIf="questions.length>0" align="center" width="320" border="1" cellpadding="0" cellspacing="0">
    <tr id="headers">
      <th>Name</th>
      <th>Type</th>
      <th></th>
    </tr>
    <tr id="products" *ngFor="let question of questions">
      <td>{{ question.questionText }}</td>
      <td>
        <span (click)="selectProduct(question)">Edit</span>
        <span (click)="deleteProduct(question)">Delete</span>
      </td>
    </tr>
  </table>
  <span *ngIf="questions.length ===0">
    There are no products in the database. Add one.
  </span>
</div>
<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="currentPage"
               (page)="getQuestions($event.pageIndex)">
</mat-paginator>
