<a class="projectArea" [routerLink]="['/test', 1]">
  <div class="viewArea">
    <p>
      <i class="fas fa-archive"></i>
      <b>Name: </b>DotNet
    </p>

    <p>
      <i class="fas fa-at"></i>
      <b>Description: </b>A test on C# language
    </p>
  </div>
</a>

<a class="projectArea" [routerLink]="['/test', 2]">
  <div class="viewArea">
    <p>
      <i class="fas fa-archive"></i>
      <b>Name: </b>Ruby
    </p>

    <p>
      <i class="fas fa-at"></i>
      <b>Description: </b>A test on Ruby language
    </p>
  </div>
</a>

<!--<mat-paginator [length]="length"
               [pageSize]="pageSize"
               [pageIndex]="currentPage"
               (page)="getQuestions($event.pageIndex)">
</mat-paginator>-->
