.wrapper {
  min-width: 960px;
  width: 66%;
  margin: 0 auto;
  min-height: 600px;
}

.main {
  margin-top: 20px;
  width: 100%;
  padding: 40px 80px 40px 40px;
  box-sizing: border-box;
  background-color: #1C3331;
}


.projectArea {
  background-color: ghostwhite;
  color: black;
  display: block;
  width: auto;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  padding: 20px 20px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

img {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  float: right;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 50px;
}

.viewArea {
  position: relative;
  overflow: auto;
}

