<div class="row">
  <div class="col-xs-9 col-md-10">
    <h1>Begin test</h1>
  </div>
  <!--<div class="col-xs-3 col-md-2">
    <button [routerLink]="['/projects/create']" class="btn btn-primary">New project</button>
  </div>-->
</div>

<form #f="ngForm" (ngSubmit)="login()" novalidate>
  <div id="projectList">
    <question-view *ngFor="let question of questions" [question]="question" [answerNum]="question.answerNum"></question-view>
  </div>
</form>

<mat-paginator [length]="length"
               [pageSize]="questionsCount"
               [pageIndex]="currentPage"
               (page)="getQuestions($event.pageIndex)">
</mat-paginator>
